@import url('file:///home/nicojackson/.cache/wal/colors-waybar.css');



#workspaces button {
	border: none;
	box-shadow: none;
	text-shadow: none;
	min-width: 0;
	color: @color8;
	font-size: 10px;
}

#workspaces button.active {
	color: @color12;
	background-color: @color1;
	border-bottom: 2px solid currentColor;
}

#workspaces button:not(.empty):not(.active) {
	color: @color4;
}

#workspaces button.active.occupied {
	color: @color17;
	background-color: @background;
}
