@import url('file:///home/nicojackson/.cache/wal/colors-waybar.css');

#temperature,
#memory,
#cpu,
#tray,
#pulseaudio,
#network,
#clock,
#backlight,
#disk,
#battery,
#bluetooth {
	border-bottom: 2px solid currentColor;
}
#memory,
#network,
#battery,
#tray,
#pulseaudio {
	padding-right: 6px;
	padding-left: 6px;
}
#temperature {
	color: @temp_cool;
}
#network,
#memory,
#cpu {
	color: @color1;
	background-color: alpha(@color0, 0.5)
}

#temperature.warning,
#memory.warning,
#cpu.warning {
	color: @warn_fg;
}

#temperature.critical,
#memory.critical,
#cpu.critical {
	color: @crit_fg;
	background-color: transparent;
}
#pulseaudio,
#battery {
	background-color: alpha(@color1, 0.5)
}
#pulseaudio {
	color: @color13;
	padding-right: 16px;
}

#pulseaudio.muted {
	color: @color6;
}

#network {
	color: @color1;
}

#network.disconnected {
	color: @crit_fg;
}

#backlight {
	color: @backlight_fg;
	padding-right: 6px;
}

#disk {
	color: @disk_fg;
}

#tray {
	padding-left: 10px;
	background-color: alpha(@color13, 0.5);
	padding-right: 8px;
	border-radius: 2px;
}


#tray>.passive {
	-gtk-icon-effect: dim;
}

#tray>.needs-attention {
	-gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

#battery {
	color: @color13;
}

#battery.charging.warning,
#battery.plugged.warning {
	color: @color5;
}

#battery.warning {
	color: @bat_norm;
}

#clock {
	background-color: transparent;
	font-size: 12px;
	color: @color13;
}

#bluetooth {
	font-size: 14px;
	padding: 0 2px;
	padding-left: 0;
	margin: 0;
	color: @bt_on;
}

#bluetooth.connected {
	color: @bt_connected;
}

#bluetooth.disabled {
	color: @bt_off;
}

#idle_inhibitor {
	padding-left: 8px;
	padding-top: 3px;
	color: rgba(255, 255, 255, 0.55);
	font-size: 14px;
}

#idle_inhibitor.activated {
	color: #4aff00;
}

#bluetooth:hover,
#pulseaudio:hover,
#network:hover,
#idle_inhibitor:hover {
	border-radius: 0;
	text-shadow: 0 0 9px rgba(0, 0, 0, 0.9);
}
